* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #585757;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3a3838;
}

.logo img {
    height: 30px;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.icons img {
    height: 25px;
    margin-left: 10px;
}

main {
    margin-top: 20px;
}

.post {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.post img {
    width: 95%;
    align-items: center;
}

.post-details {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.post-details img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.post {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}



.post2-details {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.post2-details img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.username {
    font-weight: bold;
    margin-right: 5px;
}

.caption {
    color: #8e8e8e;
}
.username2 {
    font-weight: bold;
    margin-right: 5px;
}

.caption2 {
    color: #8e8e8e;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3a3838;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-icons img {
    height: 25px;
}
@media (max-height: 601px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .search-bar input {
        width: 70%;
    }

    .icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .icons img {
        margin: 0 5px;
    }

    .icons img {
        margin: 5px;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .post-details,
    .post2-details {
        flex-basis: 48%;
    }
    .post-details {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 5px;
    }

    .post-details img {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .post2-details {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 5px;
    }

    .post2-details img {
        margin-right: 0;
        margin-bottom: 5px;
    }

    footer {
        height: 70px;
    }
}

